<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="escrietConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=escriet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="30"></sessionState>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <machineKey validationKey="CE449605CF7517024D7991B97082EA98D189D07C7B63E439586CF08CC665474F62430E05BCEA137196B59FD0FD61723F226E5FC695C9A54DD800ED0105B3343F" decryptionKey="DF7D406B26F9E34B4BCF8D35CFE6A1F89E7F7193DD84015B"/>
  <urlMappings enabled="true">
    <add url="~/Home" mappedUrl="~/Default.aspx"/>
    <add url="~/Events" mappedUrl="~/Events.aspx"/>
    <add url="~/Registration" mappedUrl="~/Registration.aspx"/>
    <add url="~/Login" mappedUrl="~/Student Login.aspx"/>
    <add url="~/Admin" mappedUrl="~/Admin Login.aspx"/>
    <add url="~/Faculty" mappedUrl="~/Faculty.aspx"/>
    <add url="~/Confirmation" mappedUrl="~/Events Apply.aspx"/>
    <add url="~/Logging_out" mappedUrl="~/logout.aspx"/>
    <add url="~/Developers" mappedUrl="~/Developers.aspx"/>
    <add url="~/SCS-to-CVGClub" mappedUrl="~/SCS-to-CVGClub.aspx"/>
    <add url="~/Clubs" mappedUrl="~/Clubs.aspx"/>
    <add url="~/Alumni" mappedUrl="~/Alumni.aspx"/>
    <add url="~/Techlon" mappedUrl="~/Techlon.aspx"/>
    <add url="~/Convergence" mappedUrl="~/Convergence.aspx"/>
    <add url="~/Khelotsava" mappedUrl="~/Khelotsava.aspx"/>
    <add url="~/Octavas" mappedUrl="~/Octavas.aspx"/>
    <add url="~/Aperture" mappedUrl="~/Aperture.aspx"/>
    <add url="~/Belletrist" mappedUrl="~/Belletrist.aspx"/>
    <add url="~/Sigma" mappedUrl="~/Sigma.aspx"/>
    <add url="~/Enquizitia" mappedUrl="~/Enquizitia.aspx"/>
    <add url="~/Membership" mappedUrl="~/Membership.aspx"/>
    <add url="~/Fine_Arts" mappedUrl="~/Fine_Arts.aspx"/>
    <add url="~/Forgot_Password" mappedUrl="~/FPassword.aspx"/>
    <add url="~/Games" mappedUrl="~/Games.aspx"/>
    <add url="~/Games_18" mappedUrl="~/Khelotsava_now.aspx"/>
    <add url="~/m" mappedUrl="~/MailTrial.aspx"/>
    
    <add url="~/Student_Home" mappedUrl="StudentZone/Default.aspx"/>
    <add url="~/Update_Student_Profile" mappedUrl="StudentZone/UpdateProfile.aspx"/>
    <add url="~/Reset_Password" mappedUrl="StudentZone/Password.aspx"/>
    
    <add url="~/AdminZone_Home" mappedUrl="AdminZone/Default.aspx"/>
    <add url="~/Admin_Home" mappedUrl="AdminZone/AdminHome.aspx"/>
    <add url="~/Admin_Logout" mappedUrl="AdminZone/Logout.aspx"/>
    <add url="~/Os" mappedUrl="AdminZone/OratorySkills.aspx"/>
    <add url="~/quiz" mappedUrl="AdminZone/Quiz.aspx"/>
    <add url="~/Pgraphy" mappedUrl="AdminZone/Pg.aspx"/>
    <add url="~/PPT" mappedUrl="AdminZone/PPT.aspx"/>
    <add url="~/MMaking" mappedUrl="AdminZone/MMaking.aspx"/>
    <add url="~/LANGamingNFS" mappedUrl="AdminZone/LangNFS.aspx"/>
    <add url="~/LANGamingCS" mappedUrl="AdminZone/LangCS.aspx"/>
    <add url="~/TresHunt" mappedUrl="AdminZone/TH.aspx"/>
    <add url="~/DocVideos" mappedUrl="AdminZone/DV.aspx"/>
    <add url="~/CodeHunt" mappedUrl="AdminZone/ch.aspx"/>
    <add url="~/AAttack" mappedUrl="AdminZone/aa.aspx"/>
    <add url="~/Poetry" mappedUrl="AdminZone/poet.aspx"/>
    <add url="~/WSkills" mappedUrl="AdminZone/ws.aspx"/>
    <add url="~/Minimilitia" mappedUrl="AdminZone/minim.aspx"/>
    <add url="~/Reg_Print" mappedUrl="AdminZone/reg.aspx"/>
    <add url="~/Updated_Reg_Print" mappedUrl="AdminZone/Updatedreg.aspx"/>
    <add url="~/Alumni_Management" mappedUrl="AdminZone/Alumni_Management.aspx"/>
    <add url="~/Alumni_Details" mappedUrl="AdminZone/Alumni_Dt.aspx"/>
    <add url="~/Latest_Events" mappedUrl="AdminZone/LatestEvents.aspx"/>
    <add url="~/GNaek_List" mappedUrl="AdminZone/GNaek.aspx"/>
    
    <add url="~/Marksaam" mappedUrl="AdminZone/MarksList/aam.aspx"/>
    <add url="~/Markschm" mappedUrl="AdminZone/MarksList/chm.aspx"/>
    <add url="~/MarksDVm" mappedUrl="AdminZone/MarksList/DVm.aspx"/>
    <add url="~/MarksLanCSm" mappedUrl="AdminZone/MarksList/LanCSm.aspx"/>
    <add url="~/MarksLanNFSm" mappedUrl="AdminZone/MarksList/LanNFSm.aspx"/>
    <add url="~/MarksMinimm" mappedUrl="AdminZone/MarksList/Minimm.aspx"/>
    <add url="~/Marksmmm" mappedUrl="AdminZone/MarksList/mmm.aspx"/>
    <add url="~/Marksosm" mappedUrl="AdminZone/MarksList/osm.aspx"/>
    <add url="~/MarksPgm" mappedUrl="AdminZone/MarksList/Pgm.aspx"/>
    <add url="~/MarksPoetm" mappedUrl="AdminZone/MarksList/Poetm.aspx"/>
    <add url="~/MarksQm" mappedUrl="AdminZone/MarksList/Qm.aspx"/>
    <add url="~/MarksThm" mappedUrl="AdminZone/MarksList/Thm.aspx"/>
    <add url="~/Markswsm" mappedUrl="AdminZone/MarksList/wsm.aspx"/>
    <add url="~/Markspptm" mappedUrl="AdminZone/MarksList/pptm.aspx"/>
    
  
    <add url="~/Alumni_Registration" mappedUrl="Events/Alumnimeet.aspx"/>
    <add url="~/Placement_Registration" mappedUrl="Events/Placement_Registration.aspx"/>
  </urlMappings>
  
  </system.web>
</configuration>